[Unit]
Description=Flask server
After=network-manager.service

[Service]
Type=simple
WorkingDirectory=/var/www/html/
ExecStart=/usr/bin/python /var/www/html/app.py

[Install]
WantedBy=multi-user.target